body {
  margin-top: 60px;
  background: image-url('bg2.jpg') no-repeat center center fixed;
  @include background-size(cover);
  color: #ffffff;
}
h1,h2,h3,h5,h6 {
  color: #ffffff;
}
/**** Landing Page Specific ***/

.hero {
  padding: 20px;

  .hero-logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .hero-content {
    margin:0 auto;
    vertical-align: center;
    max-width: 400px;
    width:100%;
  }
}
/*** MENUS ****/

.ui.vertical.inverted.menu {
  background: darken($dark-grey, 5%);
}
/**** Status Guild Application ****/

.pending {
  color: $orange;
}
.accepted {
  color: $green;
}
.declined {
  color: $red;
}


/**** TABLES ****/

.ui.inverted.table {
  background: darken($dark-grey, 5%);

  @include box-shadow(0, 0 , 4px, #151515);
}
.ui.inverted.table th {
  background-color: darken($dark-grey, 5%) !important;
  border-color:  darken($dark-grey, 10%) !important;
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.table tr td {
  border-color: darken($dark-grey, 5%)!important;
}

/**** BOX ****/

.dark-box {
  background: darken($dark-grey, 5%);
  padding: 10px;
  @include box-shadow(0, 0 , 4px, #151515);
  position: relative;
}

.dark-box.darker {
  background: darken($dark-grey, 6%);
  padding: 10px;
  @include box-shadow(0, 0 , 4px, #151515);
}
.avatar-box {
  height: 450px;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  @include box-shadow(0, 0 , 4px, #151515);
}

.gear-items.left {
  width: 40px;
  float: left;
}
.gear-items.right {
  width: 40px;
  float: right;
}

.gear-items.bottom {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-content: center;

  .item {
    width: 40px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.five.boxes {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
}

.profile-stats-box {
  background: $dark-grey;
  padding: 10px;
  margin-right: 5px;
  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}

.ui.icon.notice.message {
  background-color: #fff8db;
  color: #b58105;
  box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
}
/*** Breadcrumbs ****/

.ui.large.breadcrumb {
  background: darken($dark-grey, 5%);
  padding:10px;
  width: 100%;
  @include box-shadow(0, 0 , 2px, #151515);
  margin-bottom: 10px;
}

.dark-box > .ui.inverted.menu {
  background: none;
}

.dark-box.alts {
  margin-top: 10px;
}

/*** BUTTONS ****/

.ui.alliance.button {
  background: $alliance;
  color: rgba(255,255,255,0.8);

  &:hover {
    background: lighten($alliance, 10%);
  }
}
.ui.red.button {
  background: $chestnut-red;

  &:hover {
    background: darken($chestnut-red, 5%);
  }
}

.ui.green.button {
  background: $tan-green;

  &:hover {
    background: darken($tan-green, 5%);
  }
}

/**** ITEM LINKS ****/

.item-border-7 {
  border: 1px solid $heirloom;
  @include box-shadow(0, 0, 2px, $heirloom)
}
.item-border-6 {
  border: 1px solid $artifact;
  @include box-shadow(0, 0, 2px, $artifact)
}

.item-border-5 {
  border: 1px solid $legendary;
  @include box-shadow(0, 0, 2px, $legendary)
}
.item-border-4 {
  border: 1px solid $epic;
  @include box-shadow(0, 0, 2px, $epic)
}

.item-border-3 {
  border: 1px solid $rare;
  @include box-shadow(0, 0, 2px, $rare)
}

.item-border-2 {
  border: 1px solid $uncommon;
  @include box-shadow(0, 0, 2px, $uncommon)
}

.item-border-1 {
  border: 1px solid #151515;
  @include box-shadow(0 , 0 , 3px, #151515)
}

a[disabled] {
    pointer-events: none;
}
/**** Hide Wowhead Logo ****/
.wowhead-tooltip-powered {
  background: none !important;
}

/**** HELPERS ****/

.center.aligned {
  text-align: center
}
.right.aligned {
  text-align: right;
}

.alliance-text-color {
  color: $alliance;
}

.inline.field {
  margin-bottom: 2em;
}
/***** Events *****/
.layer {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  &.light {
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
}

.ui.fluid.event.card {
  box-shadow: none;
  border: none;
  color: #ffffff;

  .content {
    z-index: 3;
  }
  .blurring.dimmable.action {
    z-index: 5;
  }
  .header {
    font-size: 1em;
    color: inherit;
  }
  .meta {
    color: $orange-dark;

    .guild_event {
      color: $tan-green;
    }
  }
  .description {
    color: inherit;
  }
  .extra.content {
    color: #eee;
  }
}

.event-show {
  width: 100%;
  min-height: 250px;
  z-index: 1;

}
.event-show .ui.vertical.segment {
  height: auto;

  .content {
    position: relative;
    color: #fff;
    z-index: 5;
    padding: 10px;

    .header {
      font-size: 1.8em;
      width: 100%;
      height: auto;

      .first {
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: $orange-dark;

        }
      .second {
        font-size: 2em;
        margin-top: 0.4em;
        margin-bottom: 1em;

        }
      }
    .description {
      margin-bottom: 0.8em;

      h5 {
        margin-bottom: 0.4em;
        }
      }
    .meta {
      margin-top: 1em;

      .public-event {
        color: $orange-dark;
        }
      .guild-event {
        color: $tan-green;
        }
      .private-event {
        color: $chestnut-red;
      }
    }
  }
}

.selected {
  color: $legendary;
}
.accepted {
  color: $tan-green;
}
.not_sure {
  color: $orange-dark;
}
.declined {
  color: $chestnut-red;
}

table .users-list tr td .item a {
  vertical-align: center;
}

/******* comments *******/

.ui.inverted.comments {
  color: #fff;

  .ui.dividing.header {
    color: inherit;
  }
  .avatar {
    img {
      border-radius: 500px;
    }
  }
  .content {
    .metadata{
      color: #ccc;
    }
    .text {
      color: inherit;
    }
  }

  .actions {
    a {
      color: #ccc;
    }
  }
}

/*******  Comments *******/
.ui.inverted.threaded.comments {
  width: 100%;
  max-width: none;
}

#recent-comments {
  min-height: 150px;
}

.white {
  color: #fff;
}

.ui.comments .reply.form textarea {
  height: 4em;
  min-height: 4em;
  widht: 100%;
}
