::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: darken($dark-grey, 5%)
}

::-webkit-scrollbar-thumb
{
  background: $dark-grey;
}

.ui.red.label, .ui.black.label.red {
  background-color: $chestnut-red !important;
}

#notifications {
  .item {
    .content {
      .meta {
        color: #ccc;
      }

      .extra {
        color: #ccc;
        }

      .description {
        font-size: 0.9em;
      }
    }
  }
}
