// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.death-knight {
	color: $death-knight;
}
.druid {
	color: $druid;
}
.hunter {
	color: $hunter;
}				
.warlock {
	color: $warlock;
}
.mage {
	color: $mage;
}
.paladin {
	color: $paladin;
}
.shaman {
	color: $shaman;
}
.warrior {
	color: $warrior;
}
.priest {
	color: $priest;
}
.monk {
	color: $monk;
}
.rogue {
	color: $rogue;
}
.demon-hunter {
	color: $demon-hunter;
}
.epic {
	color: $epic;
}
.rare {
	color: $rare;
}
.white {
	color: #ffffff;
}
.alliance {
	background: $alliance;
}

.ui.inverted.alliance.borderless.menu {
	background: $dark-grey;
	box-shadow: 0 0 4px #151515;
}