/*---------------
  Colors
----------------*/

$textColor:  		rgba(255, 255, 255, 0.87);
$orange:    		#F89406;
$green:     		#3FC380;
$red:       		#EC644B;
$epic: 					purple;
$rare:					#0070de;
$uncommon:      #1eff00;
$heirloom:      #00CCFF;
$legendary:     #ff8000;
$artifact:      #e6cc80;
$death-knight:	#C41F3B;
$druid:					#FF7D0A;
$hunter:				#ABD473;
$warlock:	 			#9482C9;
$mage:					#69CCF0;
$paladin:				#F58CBA;
$shaman:				#0070de;
$warrior:				#C79C6E;
$priest:				#ffffff;
$monk:					#00FF96;
$rogue:					#FFF569;
$demon-hunter:	#A330C9;
$alliance:      #144587;
$dark-grey:     darken(rgba(108, 122, 137, 0.8), 30%);
$teal-dark:     darken(rgba(1, 152, 117, 0.5), 25%);
$orange-dark:   darken(rgba(243, 156, 18, 0.3), 25%);
$chestnut-red:  rgba(210, 77, 87, 0.9);
$tan-green:     rgba(135, 211, 124, 0.9);

$link-color:    $alliance;


/*--------------
  Imports
---------------*/
@import 'semantic-ui';
@import 'mixins';
@import 'general';
@import	'users';
@import 'profiles';
@import 'custom-trix';
@import 'image-manager';
