= cell(Event::Cell::Delete, model) if is_owner?
= cell(Event::Cell::EventHeader, model)
= cell(Event::Cell::SignUp, model, context: { invite: context[:invite] })
= cell(Event::Cell::EventBody, model)
