  == javascript_include_tag :application, data: { turbolinks_track: true }
  == javascript_include_tag "//wow.zamimg.com/widgets/power.js"
  javascript:
    var wowhead_tooltips = { "colorlinks": true, "iconizelinks": false, "renamelinks": false }
